{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main class="p-5">
    <div class="card my-5">
        <div class="card-body row">
            <h5 class="col-2">Марія Козирєва</h5>
            <div class="col-8"></div>
            <h5 class="col-2">Resume project</h5>
        </div>
    </div>

    <h2 class="">Список сторінок</h2>
    <p class="">Тут вам потрібно написати інформацію про ваш проєкт.</p>

    <!-- Цикл для створення кнопок -->


    <div class="row">
        <a href="/work" class="btn btn-primary col-2 mt-5 ms-3">Work</a>
    </div>
    <div class="row">
        <a href="/web" class="btn btn-primary col-2 mt-5 ms-3">Web</a>
    </div>
    <div class="row">
        <a href="/task31" class="btn btn-primary col-2 mt-5 ms-3">Task31</a>
    </div>
    <div class="row">
        <a href="/task22" class="btn btn-primary col-2 mt-5 ms-3">Task22</a>
    </div>
    <div class="row">
        <a href="/task21" class="btn btn-primary col-2 mt-5 ms-3">Task21</a>
    </div>
    <div class="row">
        <a href="/summary" class="btn btn-primary col-2 mt-5 ms-3">Summary</a>
    </div>

    <div class="row">
        <a href="/skills" class="btn btn-primary col-2 mt-5 ms-3">Skills</a>
    </div>
    <div class="row">
        <a href="/shopreview" class="btn btn-primary col-2 mt-5 ms-3">Shopreview</a>
    </div>
    <div class="row">
        <a href="/shopprofile" class="btn btn-primary col-2 mt-5 ms-3">Shopprofile</a>
    </div>
    <div class="row">
        <a href="/shoporder" class="btn btn-primary col-2 mt-5 ms-3">Shoporder</a>
    </div>
    <div class="row">
        <a href="/shophome" class="btn btn-primary col-2 mt-5 ms-3">Shophome</a>
    </div>
    <div class="row">
        <a href="/shopcatalog" class="btn btn-primary col-2 mt-5 ms-3">Shopcatalog</a>
    </div>
    <div class="row">
        <a href="/shopcart" class="btn btn-primary col-2 mt-5 ms-3">Shopcart</a>
    </div>
    <div class="row">
        <a href="/program" class="btn btn-primary col-2 mt-5 ms-3">Program</a>
    </div>
    <div class="row">
        <a href="/person" class="btn btn-primary col-2 mt-5 ms-3">Person</a>
    </div>
    <div class="row">
        <a href="/mac" class="btn btn-primary col-2 mt-5 ms-3">Mac</a>
    </div>
    <div class="row">
        <a href="/js" class="btn btn-primary col-2 mt-5 ms-3">Js</a>
    </div>
    <div class="row">
        <a href="/facebook" class="btn btn-primary col-2 mt-5 ms-3">Facebook</a>
    </div>
    <div class="row">
        <a href="/education" class="btn btn-primary col-2 mt-5 ms-3">Education</a>
    </div>
    <div class="row">
        <a href="/car" class="btn btn-primary col-2 mt-5 ms-3">Car</a>
    </div>
    <div class="row">
        <a href="/bootstrapOld" class="btn btn-primary col-2 mt-5 ms-3">BootstrapOld</a>
    </div>
    <div class="row">
        <a href="/bio" class="btn btn-primary col-2 mt-5 ms-3">Bio</a>
    </div>
    <div class="row">
        <a href="/bootstrap" class="btn btn-primary col-2 mt-5 ms-3">Bootstrap</a>
    </div>
</main>



{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}