<main>

	<h1 class="text-center">InnovaMind</h1>

	<p class="text-center text-uppercase">Welcome to our wonderful community</p>

	<div class="card">
		<div class="card-body">
			<p class="display-6 text-end">InnovaMind</p>
			<h2 class="text-end">InnovaMind is a forward-thinking startup focused on innovation. We are dedicated to
				creating efficient and powerful software through the use of first-class functions.</h2>
			<button type="button" class="btn btn-info">Show more</button>
		</div>
	</div>

	<br>
	<br>


	<div class="card">
		<div class="card-body">
			<p class="display-5 text-start">Advantage</p>

			<div class="card">
				<div class="card-body">
					<p class="display-4 text-start">Efficiency</p>
					<h6 class="text-start">Streamline your software development</h6>
					<p class="text-lovercase text-start">Streamline your software development</p>
					<button type="button" class="btn btn-outline-warning">Show more</button>
				</div>
			</div>


			<br>
			<br>

			<div class="card">
				<div class="card-body">
					<p class="display-4 text-center">Innovation</p>
					<h6 class="text-center">Forward-thinking approach to programming</h6>
					<p class="text-lovercase text-center">Connect with a community of like-minded developers to share
						knowledge and insights...</p>
					<button type="button" class="btn btn-outline-warning">Show more</button>
				</div>
			</div>

			<br>
			<br>


			<div class="card">
				<div class="card-body">
					<h6 class="text-end">Collaboration</h6>
					<p class="text-end">Connect with like-minded developers</p>
					<p class="text-lovercase text-end">Connect with a community of like-minded developers to share knowledge and
						insights...
					</p>
					<button type="button" class="btn btn-outline-warning">Show more</button>
				</div>
			</div>

			<br>
			<br>


			<div class="card">
				<div class="card-body">
					<p class="display-5 text-start">Terms of use</p>

					<div class="card">
						<div class="card-body">
							<h5>Check out our requirements</h5>

							<div class="card">
								<div class="card-body">
									<p class="text-lovercase text-start">By using or accessing the service, you agree to be bound by the
										terms
										and conditions outlined in the agreement.</p>
									<button type="button" class="btn btn-success">Аccept</button>
								</div>
							</div>


						</div>
					</div>


				</div>
			</div>

		</div>
	</div>

</main>